* {
    padding: 0;
    margin: 0;
}
html {
    overflow-y: hidden;
    font-family: monospace;
    color: white;
    background-color: #222;
    font-size: 20px;
}

#wrapper {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 100%;
    height: 100%;
    /* overflow-x: hidden; */
}

#canvas-wrapper {
    display: block;
    position: relative;
}

#c {
    display: block;
}
#options {
    background-color: #2225;

    position: absolute;
    width: min(300px, auto);
    right: 0;
    transition: left 0.5s ease-in-out 0.1s;
    /* display: flex; */
}

#options-header {
    position: relative;
    display: flex;
    justify-content: center;
    border-bottom: #1a1a1a55 solid 5px;
}

#options-body {
    padding: 0.25em;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0.5em;
}

#crosshair {
    background-color: red;
    width: 8px;
    height: 8px;
}
#crosshair-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}
